.root {
    -fx-background-color: #0A0A0F; /* BG ng AnchorPane */
}

.header-container {
    -fx-padding: 0 0 10 0;
}

/* Title and logo */
.header-container .label {
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: #1ACAE0;
    -fx-effect: dropshadow(gaussian, #007ACC, 10, 0.0, 0, 0);
}

#logo {
    -fx-border-color: #007ACC;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
}

/* History, Login/Sign Up, Dark Mode */
.header-container .button {
    -fx-text-fill: #FFF;
    -fx-font-size: 14pt;
    -fx-padding: 5 10;
    -fx-cursor: hand;
}

.header-container .button:hover {
    -fx-text-fill: #00F0FF;
}

.editor-panel {
    -fx-background-color: #0F131A;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 15px;
    -fx-border-color: #007ACC;
    -fx-effect: dropshadow(gaussian, #007ACC, 20, 0.0, 0, 0);
}

/* "Source Code" and "Analysis Result" */
.editor-panel .label {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-padding: 0 0 5 0;
    -fx-text-fill: #1ACAE0;
}

.text-area {
    -fx-background-color: #0F1017;
    -fx-prompt-text-fill: #FFF;
    -fx-font-family: "Consolas", "Monospace"; /* Use a monospace font */
    -fx-font-size: 14pt;
    -fx-control-inner-background: #0D1117;
    -fx-highlight-fill: #007ACC;
    -fx-highlight-text-fill: #FFF;
}
.text-area .content {
    -fx-background-color: #0F1017;
    -fx-padding: 10;
}
.text-area:focused {
    -fx-border-color: transparent;
}

.footer-panel {
    -fx-background-color: #0F131A;
    -fx-background-radius: 10px;
    -fx-padding: 15px 30px;
    -fx-border-color: #007ACC;
    -fx-effect: dropshadow(gaussian, #007ACC, 20, 0.0, 0, 0);
}

.button {
    -fx-background-color: #21262D;
    -fx-text-fill: #C9D1D9;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-effect: null;
}

/* Open File */
.primary-button {
    -fx-background-color: #007ACC;
    -fx-text-fill: #000;
    -fx-border-color: #007ACC;
    -fx-effect: dropshadow(gaussian, #007ACC, 20, 0.0, 0, 0);
}

.primary-button:hover {
    -fx-background-color: #0093E6;
    -fx-text-fill: #FFF;
}

/* Lexical, Syntax, Semantic buttons */
.action-button {
    -fx-background-color: #007ACC;
    -fx-text-fill: #000;
    -fx-border-color: #007ACC;
    -fx-effect: dropshadow(gaussian, #007ACC, 20, 0.0, 0, 0);
}

.action-button:hover {
    -fx-background-color: #0093E6;
    -fx-text-fill: #FFF;
}

/* Clear button */
.danger-button {
    -fx-background-color: #21262D;
    -fx-text-fill: #FF004C;
    -fx-border-color: #FF004C;
    -fx-effect: dropshadow(gaussian, #FF004C, 20, 0.0, 0, 0);
}
.danger-button:hover {
    -fx-background-color: #3B3F46;
}